@import "variables";
@import "mixins";
@import "fonts";
@import "general";
@import "blocks/blocks";

.header{
    position: fixed;
    background-color: #fff;
    z-index: 999;
    width: 100%;
    
}

/*Header section starts*/
.navbar{
    padding: 40px 20px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo img{
        width: 100%;
    }

    &__list{
        display: flex;
        opacity: 1;
        @include list-unstyled;
        transition: all .3s ease;
    }

    &__item{
        margin-right: 2rem;

        .navbar__link{
            text-decoration: none;
            color: $nav-color;
            font-weight: $barlow-bold;
            text-transform: uppercase;
            letter-spacing: 0.92px;

            &:hover{
                color: #333D4B;
                transition: all .3s ease;

            }
        }
    }
    
    .menu i{
        display: none;
        font-size: 25px;
    }
}
.hero__content{
    background-image:linear-gradient(to right,rgba(0,0,0,.5),rgba(0,0,0,.5)), url(../images/hero-bg.svg);
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    margin-top: 100px;
    padding-top: 80px;

    .desc{
        padding-right: 3.5rem;
    }
    .title{
        font-family: "Fraunces";
        font-weight: 900;
        font-size: 72px;
        line-height: 72px;
        color: $light-title;
        margin-bottom: 2rem;
    }
    .text{
        font-family: Barlow;
        font-size: 16px;
        line-height: 26px;
        color: $light-title;
        opacity: 0.8;
        margin-bottom: 3.5rem;
    }
    .cry-btn{
        @include btn-green;
    }
}

.about__content{
    padding-left: 5rem;
}

.product{
    margin-top: 9rem;
    margin-bottom: 9rem;
    position: relative;
    &__group::before{
        content: "our collection";
        font-size: 150px;
        font-family: "Fraunces";
        letter-spacing: 10px;
        position: absolute;
        top: 0;
        color: #83888F
        ;
        text-align: center;
        z-index: -1;
        opacity: 0.3;
    }
    &__group{
        margin-top: 100px;
        z-index: 999;
        margin-bottom: 9rem;
    }
    &__item{
        text-align: center;

        img{
            width: 100%;
        }

        .product_name{
            font-family: "Fraunces";
            font-weight: 900;
            font-size: 24px;
            line-height: 32px;
            color: $product-color;
            margin-bottom: 1.5rem;
        }

        .text{
            font-size: 16px;
            line-height: 26px;
            color: $product-color;
            text-align: center;
            font-family: Barlow;
        }
    }
}

.choose{
    background-color: $bg-dark;
    height: 580px;
    position: relative;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 10px;
    .center-content{
        @include centered;
    }

    .delivery-blok{
        margin-top: 4rem;
        .delivery__group{
            @include list-unstyled;

            .delivery__item{
                text-align: center;
                padding-top: 4.5rem;
                padding-bottom: 3rem;
                padding-left: 3rem;
                padding-right: 3rem;
                border-radius: 8px;
                background-color: $cyan-btn;
                color: $light-title;
                i{
                    font-size: 80px;
                    margin-bottom: 3.5rem;
                }

                .title{
                    font-family: Fraunces;
                    font-weight: 900;
                    font-size: 24px;
                    line-height: 32px;
                    color: #FEFCF7;
                    margin: 0 0 1.5rem 0;
                }
            }
        }
    }
}
.section-bottom{
    margin-top: 10rem;
    .btn-cyan{
        @include btn-green;
    }
}
.sup-content{
    h5{
        font-family: Fraunces;
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        color: $nav-color;

    }
    
    .item-box{
        position: relative;
        
        span{
            display: inline-block;
            width: 31px;
            height: 31px;
            border-radius: 50%;
            background: $light-title;
            border: 2px solid $cyan-btn;
    
            &:nth-child(1)::before{
                    content: "";
                    width: 360px;
                    background-color: #FDD6BA;
                    height: 1px;
                    position: absolute;
                    left: 31px;
                    top: 50%;
            }
            &:nth-child(2){
                position: absolute;
                left: 390px;
                &::before {
                    content: "";
                    width: 350px;
                    background-color: #FDD6BA;
                    height: 1px;
                    position: absolute;
                    left: 29px;
                    top: 50%;
                }
            }

            &:nth-child(3){
                position: absolute;
                left: 771px;
            }
        }
    }
}

.degree{
    margin-top: 4rem;
    margin-bottom: 4rem;
    .degree__item{
        span{
            font-family: Fraunces;
            font-weight: 900;
            font-size: 72px;
            line-height: 72px;
            color: $pale-orange;
            margin-bottom: 2.2rem;
        }
        .title{
            font-family: Fraunces;
            font-weight: 900;
            font-size: 32px;
            line-height: 36px;
            color: $product-color;
            width: 255px;
        }
        .text{
            font-family: Barlow;
            font-size: 16px;
            line-height: 26px;
            color: $product-color;
            width: 285px;
        }
    }
}

footer{
    margin-top: 12rem;
    background-color: $bg-dark;
    .navbar{
        justify-content: space-around;
        

        &__logo{
            margin-right: 6.5rem;
        }
        .navbar__link:hover{
            color: #fff;
        }
        &__social{
            
            i{
                font-size: 24px;
                transition: color 0.2s ease;
                
                &:not(:last-child){
                    margin-right: 1.5rem;
                }

                &:hover{
                    color: red;
                }
            }
        }
        
    }
}





/* About US html*/
.hero__content.about__content{
    background-image:linear-gradient(to right,rgba(0,0,0,.5),rgba(0,0,0,.5)), url(../images/about-Us.png);
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}
.section-2{
    margin-top: 10.5rem;
}
.commit__group{
    align-items: center;
    justify-content: space-between;
}
.img-blog .image{
    text-align: center;
    border-radius: 8px;
    overflow: hidden;
    height: 520px;
}
.img-blog .image img{
    
    width: 100%;
}
.description {
    color: #333D4B;
    .title
    {
        font-family: Fraunces;
        font-weight: 900;
        font-size: 40px;
        line-height: 48px;
        margin-bottom: 2rem;
    }
    .text{
        font-family: Barlow;
        font-size: 16px;
        line-height: 26px;
        opacity: 0.8;
    }
}

.quality{
    margin-top: 15rem;
    background-color: #2C343E;
    border-radius: 10px;
    padding-top: 100px;
    height: 480px;
    padding-bottom: 100px;

    .description{
        .title{
            font-family: Fraunces;
            font-style: normal;
            font-weight: 900;
            font-size: 40px;
            line-height: 48px;
            color: #FEFCF7;
        }
        .text{
            font-family: Barlow;
            font-size: 16px;
            line-height: 26px;
            color: #FEFCF7;
            opacity: 0.8;
        }
    }

    
    .quality-group{
        justify-content: space-between;

        .img{
            margin-top: -14rem;
            border-radius: 10px;
            height: 480px;
        }
    }
}

.city{
    margin-top: 10.5rem;

    .top-txt{
        font-family: Fraunces;
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        color: #83888F;
        margin-bottom: 4.5rem;
    }
}

.state__item {
    ul{
        @include list-unstyled;
        li{
            line-height: 26px;
        }
    }

    .title{
        font-family: Fraunces;
        font-weight: 900;
        font-size: 32px;
        line-height: 36px;
        color: #333D4B;
        margin-top: 3rem;
        margin-bottom: 1.5rem;
    }
}





/*Create Plan html file*/

.hero__content.create__content{
    background-image:linear-gradient(to right,rgba(0,0,0,.5),rgba(0,0,0,.5)), url(../images/create_plan-bg.png);
    background-position: center center;
}
.section-bottom.create-section{
    margin-top: 10rem;
    background-color: #2C343E;
    color: $light-title;
    padding: 100px 0;

    .degree .degree__item .title{
        color: $light-title;
    }
    .degree .degree__item .text{
        color: $light-title;
    }
}

.price{
    margin-top: 10.5rem;

    &__group{
        justify-content: space-between;
    }
    &__list{
        @include list-unstyled;
    }
    &__right{
        position: relative;
        .title{
            font-family: Fraunces;
            font-weight: 900;
            font-size: 40px;
            line-height: 48px;
            color: #83888F;
            margin-top: 1.2rem;
            margin-bottom: 3.5rem;
            position: relative;
            i{
                position: absolute;
                right: 0;
            }
        }
        .box__list{
            display: flex;
            @include list-unstyled;
            margin-bottom: 5.5rem;
        }
        .box__item{
            background: #F4F1EB;
            border-radius: 8px;
            padding-top: 2rem;
            padding-left: 1.75rem;
            padding-bottom: 5.25rem;
            width: 228px;
            &:not(:last-child){
                margin-right: 1.5rem;
            }

            &.active{
                background-color: #0E8784;
                color: $light-title;
            }
            .title{
                font-family: Fraunces;
                font-weight: 900;
                font-size: 24px;
                line-height: 32px;
                color: #333D4B;
                margin-bottom: 1.5rem;
            }
            .text{
                font-family: Barlow;
                line-height: 26px;
                color: #333D4B;
                width: 172px;
            }
        }

        .sitata{
            width: 100%;
            margin-bottom: 2.5rem;
            padding: 3rem 4rem;
            border-radius: 10px;
            background-color: #2C343E;
            color: #FFFFFF;
            .texts{
                font-family: Barlow;
                line-height: 26px;
                text-transform: uppercase;
                opacity: 0.5;
                margin-bottom: 0.5rem;
            }
            .titles
            {
                font-family: Fraunces;
                font-weight: 900;
                font-size: 24px;
                line-height: 40px;

                span{
                    color: #0E8784;
                }
            }
            
            
        }
        .disabled-plan{
            @include btn-green;
            background-color: $main-disabled;
            position: absolute;
            right: 1rem;
        }
    }
    &__item{
        font-family: Fraunces;
            font-weight: 900;
            padding: 1.5rem 0;
            border-bottom: 1px solid #83888f50;
            a{
                text-decoration: none;
            }
        .num{
            margin-right: 1.75rem;
            font-size: 24px;
            line-height: 32px;
            color: #83888F;
            &.active{
                color: #0E8784;
            }
        }
        .title{
            font-size: 24px;
            line-height: 32px;
            color: #333d4ba4;
            &.active{
                color: #333D4B;
            }
        }
    }
}