@import "main";

@media only screen and (max-width:576px){
    
    .container{
        width: 100%;
        padding: 0 15px;
    }
    
    .navbar{
        background: linear-gradient(to bottom,#FEFCF7 50.5%,#FEFCF7 100%);
        padding: 2rem 0;
        &__list{
            opacity: 0;
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            text-align: center;
            z-index: 999;
            padding-top: 3rem;
            background-color: #fff;
            flex-direction: column;
            height: 30vh;
        }

        &__item{
            margin-bottom: 2rem;
        }
        .menu i{
            display: block;
        }
    }

    .hero__content{
        margin-top: 45vh;
    }
}